@{
    ViewData["Title"] = "4th Wall Academy : Access Denied";
}

<h1 class="display-1 text-danger">Access Denied</h1>
<p class="lead">You don't have access to this part of the application.</p>
<p class="lead">Please contact an administrator if this is an error.</p>
