@{
    ViewData["Title"] = "4th Wall Academy : Management";
}

<h1 class="display-4 text-center">Management Categories</h1>
<a asp-controller="Courses" class="card text-center p-5 m-3 display-6 text-decoration-none">
    Courses
</a>
<a asp-controller="Sections" class="card text-center p-5 m-3 display-6 text-decoration-none">
    Sections
</a>
<a asp-controller="Instructors" class="card text-center p-5 m-3 display-6 text-decoration-none">
    Instructors
</a>