@model CourseFormModel

@{
    ViewData["Title"] = $"4th Wall Academy : Add Course";
}

<h2 class="display-2 mb-5">Add Course</h2>
<form asp-controller="Courses" asp-action="Add" method="post" class="d-flex flex-column gap-5 col-sm-12 col-md-6 col-lg-4">
    @Html.AntiForgeryToken()
    <div class="d-flex flex-column gap-1">
        <label asp-for="Form.CourseName" class="form-label"></label>
        <input asp-for="Form.CourseName" class="form-control">
        <span class="text-danger" asp-validation-for="Form.CourseName"></span>
    </div>
    <div class="d-flex flex-column gap-1">
        <label asp-for="Form.CourseDescription" class="form-label"></label>
        <textarea asp-for="Form.CourseDescription" class="form-text form-control w-100"></textarea>
        <span class="text-danger" asp-validation-for="Form.CourseDescription"></span>
    </div>
    <div class="d-flex flex-column gap-2">
        <div class="d-flex align-items-center gap-3">
            <label asp-for="Form.Credits" class="form-label"></label>
            <input asp-for="Form.Credits" class="form-control">
        </div>
        <span class="text-danger" asp-validation-for="Form.Credits"></span>
    </div>
    <div class="d-flex flex-column gap-2">
        <div class="d-fle align-items-center gap-3">
            <label asp-for="Form.SubjectId"></label>
            <select asp-for="Form.SubjectId" asp-items="@Model.SubjectList" class="form-select form-control">
                <option value="">- SELECT -</option>
            </select>
        </div>
        <span class="text-danger" asp-validation-for="Form.SubjectId"></span>
    </div>
    <div class="d-flex gap-5">
        <button type="submit" class="btn btn-primary">Save</button>
        <a onclick="javascript:history.go(-1)" class="link-primary" style="cursor: pointer">Go Back</a>
    </div>
</form>